body {
  background-color: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.palindrome-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.palindrome-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1%;
}

#palindrome-text-holder {
  height: 25px;
  width: 80%;
}

#submit-button {
  margin: 2%;
}

.palindrome-header {
  margin-block-start: auto;
}
